<h2> Crea tu usuario aquí :D </h2>

<%= form_with(model: @user, local: true) do |form| %>
	<% if @user.errors.any? %>
	<div class="error_messages">
		<h2> Form is invalid </h2>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
			<% end %>
		</ul>
	</div>
	<% end %>
<div class="field">
	<%= form.label :nombre %><br />
	<%= form.text_field :name %>
</div>
<div class="field">
	<%= form.label :email %><br />
	<%= form.text_field :email %>
</div>
<div class="field">
	<%= form.label :clave %><br />
	<%= form.password_field :password %>
</div>
<div class="actions">
	<%= form.submit "Registrar" %>
</div>

<% end %>